*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body > header {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    padding-left: 280px;
    padding-right: 280px;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 4px;
}

.crown {
    width: 40px;
    height: 27px;
}

body > header > h1 {
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: white;
}

body > header > nav > ul {
    gap: 10px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
}

.menu {
    font-weight: bold;
    border-right-style: solid;
    border-left-style: solid;
}


.second_bar {
    padding-left: 280px;
    padding-right: 280px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 250px;
    background-color: #1D70B8;
    color: white;
    padding-top: 50px;
    font-size: 25px;
}

.welcome {
    padding-bottom: 30px;
}

.welcome_two {
    padding-bottom: 10px;
}

.third_bar {
    background-color: #f3f2f1;
    height: 250px;
}